body {
    background-color: #614d4d; /* dark grey background */
    font-family: Arial, sans-serif;
    color: #fff; /* default text white */
    text-align: center;
}

#fighterSearch {
    color: black;           /* Text color */
    background-color: white; /* Input background */
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}


#suggestions {
    border: 1px solid #e53935;
    background-color: #e53935;
    max-width: 300px;
    margin: auto;
    border-radius: 6px;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid #b71c1c;
}

#suggestions div:last-child {
    border-bottom: none;
}

#suggestions div:hover {
    background-color: black;
    color: #e53935;
}
